spring:
    application:
        name: msvc-operations
    
    datasource:
        url: ${OPERATIONS_DB_URL}
        username: ${DB_USER}
        password: ${DB_PASS}
        driver-class-name: com.mysql.cj.jdbc.Driver
    
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQLDialect

server:
    port: 8081
