spring:
    application:
        name: msvc-operations
    
    datasource:
        url: jdbc:mysql://localhost:3306/msvc_operations
        username: gatodev
        password: gatodev123
        driver-class-name: com.mysql.cj.jdbc.Driver
    
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQLDialect

server:
    port: 8081